@model Infraestructure.Models.Marca

@{
    ViewBag.Title = "Marca";
}

<h2>Detalles de Marca</h2>

<div>
    <h4>Marca</h4>
    <hr />
    <dl class="dl-horizontal">
        
        <dt>
            @Html.DisplayNameFor(model => model.IdMarca)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IdMarca)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descripcion)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.IdMarca }, new { @class = "btn btn-primary btn-lg" }) 
    @Html.ActionLink("Volver a la Lista", "Index", null, new { @class = "btn btn-primary btn-lg" })
</p>
